<div class="row">
  <div class="col text-center">
    <h4>
      Olá <%= params[:nome] %>, essa é a Lista de Aline & Élisson
      <%= link_to 'Alterar Nome', nomes_path, class: 'btn btn-warning' %>
    </h4>
  </div>
</div>

<div class="row">
  <% @imagens.each do |imagem| %>
    <div class="col text-center">
      <%= render partial: "layouts/cards", locals: { imagem: imagem }%>
    </div>
  <% end %>
</div>
