<h3>Administrar Lista</h3>
<%= render "materiais/link_inserir", model: 'imagem' %>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>ID</th>
      <th>Imagem</th>
      <th>Nome</th>
      <th>Situacao</th>
      <th>Criado Em</th>
      <th>Modificado Em</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <% @imagens.each do |imagem| %>
      <tr>
        <td><%= imagem.id %></td>
        <td><%= image_tag(imagem.url, class:"img-fluid rounded") %></td>
        <td><%= imagem.presente %></td>
        <td><%= imagem.disponibilidade %></td>
        <td><%= imagem.created_at.strftime("%l:%M%P %d/%m/%Y") %></td>
        <td><%= imagem.updated_at.strftime("%l:%M%P %d/%m/%Y") %></td>
        <td>
          <div class="btn-group" role="group">
            <%= render "materiais/links_editar_excluir", model: imagem, classe: "btn-secondary" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= render "materiais/link_inserir", model: 'imagem' %>
