<div class="row">
  <div class="col">
    <h4> Lista de Aline & Élisson </h4>
    <p>
      Queridos familiares e amigos!!
      Como vocês sabem eu e Elisson vamos nos casar e fizemos nossa lista de Chá de Panela na Leader Magazine da Pelinca. A compra deverá ser efetuada diretamente na loja e a entrega pegaremos com vocês no Natal.
      Cada item é especial assim como cada um de vocês. Escolham com o mesmo carinho com o qual serão recebidos em nosso novo lar. Obrigada por fazerem parte desse nosso sonho!!!!
    </p >
  </div>
</div>
<div class="row">
  <div class="col">
    <%= image_tag("https://s3-sa-east-1.amazonaws.com/elisson/O+pedido.jpg", class:"img-fluid rounded" ) %>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <br>
    <%= form_tag root_path, method: :get, class: 'form-inline my-2 my-lg-0' do %>
      <%= text_field_tag 'nome', params[:nome], placeholder: 'Seu Nome para a Lista', class: 'form-control mr-sm-2' %>
      <%= button_tag 'Começar', type: 'submit', class: 'btn btn-outline-success my-2 my-sm-0' %>
    <% end %>
  </div>
</div>
